@{
    ViewData["Title"] = "Home Page";
}
<head>

</head>
<body>
    <div class="text-center">
        <h1>Contract Monthly Claims System</h1>
        <br/>
        <br/>

        <h4>Hello, Welcome to Contract Monthly Claims</h4>
        <p>Here you can LOGIN as a Academic Manager, and Programme Coordinator or Lecturer to Submit YOUR CLAIMS or Review Claims.</p><br />
        
        <!--buttons-->
        <a href="@Url.Action("LecturerView", "Home")" class="btnStyle">Lecturer Claim</a>

        <a href="@Url.Action("AdminView", "Home")" class="btnStyle">Admin Review</a>
    </div>
</body>

